body {
    background-color: #bad8e8;
    color: #f2f2f2;
}

header {
    border-bottom: 3px solid rgb(164, 163, 163, 0.5);
    width: 95%;
    margin: auto;
}

.navbar {
    background-color: #bad8e8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-brand {
    margin-right: 3%;
}

.lang {
    color:hsl(0, 90%, 60%);
    font-weight: 600;
    padding: 0.33rem 0.75rem;
    border: 1.5px solid #f76c6c;
    border-radius: 4px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    color: #272727;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    color: #272727;
}

.contact {
    background-color: #374785;
    color: #f2f2f2;
    border-color: #374785;
}

.contact:hover {
    box-shadow: 0.15em 0.15em 0.30em rgba(140, 140, 140, 0.8);
    transform: translateY(-0.25em);
    cursor: pointer;
    color: #f2f2f2;
}

.card {
    background-color: #e1f4ff;
    border-radius: 12px;
}

.card:hover {
    border-color: #f2f2f2;
    box-shadow: 0.5em 0.5em 1em rgb(140, 140, 140, 0.8);
    transform: translateY(-0.25em);
    cursor: pointer;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-content {
    padding-top: 1rem;
    padding-left: 0.25rem;
}

img {
    border-radius: 5px;
}

.footer {
    margin-top: 10%;
    background-color: #e1f4ff;
}

.fa-brands, .fa-envelope {
    color: #374785;
}

@media (max-width: 1023.95px) {


.bottom-row {
    margin-top: 8%;
}

}

@media (max-width: 767.98px) {
    
.bottom-row {
    margin-top: 15%;
}
}