body {
    background-color: #e1f4ff;
    color: #f2f2f2;
}

header {
    border-bottom: 3px solid rgb(164, 163, 163, 0.5);
    width: 95%;
    margin: auto;
}

.navbar {
    background-color: #e1f4ff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-brand {
    margin-right: 3%;
}

.lang-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lang {
    color:#f76c6c;
    padding: 1% 2%;
    margin: 3% 2% 2%;
    border: 1px solid #f76c6c;
    border-radius: 4px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    color: #272727;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    color: #272727;
}

.icon:hover {
    box-shadow: 0.15em 0.15em 0.30em rgba(140, 140, 140, 0.8);
    transform: translateY(-0.2em);
    cursor: pointer;
}

.card {
    background-color: #f7f7f7;
    border-radius: 12px;
}

.card:hover {
    border-color: #f2f2f2;
    box-shadow: 0.5em 0.5em 1em rgb(140, 140, 140, 0.8);
    transform: translateY(-0.25em);
    cursor: pointer;
}

.title {
    font-family: 'Rubik', sans-serif;
    color: #272727;
    text-align: center;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-content {
    padding-top: 1rem;
    padding-left: 0.25rem;
    padding-bottom: 1rem;
}

img {
    border-radius: 5px;
}

.footer {
    margin-top: 10%;
    background-color: #bad8e8;
}

.fa-brands, .fa-envelope {
    color: #374785;
}

@media (max-width: 1024px) {

.bottom-row {
    margin-top: 8%;
}

.lang {
    font-size: 0.7rem;
    margin: 3% 1% 1%;
}

}

@media (max-width: 767.98px) {
    
.bottom-row {
    margin-top: 15%;
}

.lang {
    font-size: 0.5rem;
    margin: 3% 1% 1%;
}
}